@font-face {
    font-family: 'Dalek';
    font-style: normal;
    font-weight: 400;
    src: url('./DALEK___.ttf') format('truetype');
}
@font-face {
    font-family: 'Dalek';
    font-style: normal;
    font-weight: 400;
    src: url('./DALEK___.ttf') format('truetype');
}

