@font-face {
    font-family: 'Dalek';
    font-style: normal;
    font-weight: 400;
    src: url('https://github.com/Red-Code-INC/Red-CSS/blob/4e336c5df8505e4052e81dc7f549f6a4100e891d/DALEK___.ttf') format('truetype');
}
@font-face {
    font-family: 'Dalek';
    font-style: normal;
    font-weight: 400;
    src: url('https://github.com/Red-Code-INC/Red-CSS/blob/4e336c5df8505e4052e81dc7f549f6a4100e891d/DALEK___.ttf') format('truetype');
}

