.schoolsistance-logo::before{
  content:url("./icons/schoolsistancelogo.svg");
}
.ri-5ss::before{
    content:url("./icons/5SS.svg")
}
@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("./bootstrap-icons.woff2?7141511ac37f13e1a387fb9fc6646256") format("woff2"),
url("./bootstrap-icons.woff?7141511ac37f13e1a387fb9fc6646256") format("woff");
}
.ri::before,
[class^="ri-"]::before,
[class*=" ri-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
